namespace <<Struct.NameSpace>>
{
	<<Struct.Attributes: { att | [<<att.Attribute.Type.NameResult>>] }; separator="\n">>
	<<Struct.Access>> struct <<Struct.Name>> 
	{
		<<Struct.Members: { m | <<m.ContentResult>> }; separator="\n">>

		<<Struct.SubTypes: { st | <<st.ContentResult>> }; separator="\n">>
	}
}