<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <TableNameFormat>DataTypeName</TableNameFormat>
  <CurrentDataBase Type="OKHOSTING.Code.ORM.UI.Web.Services.Client.RemoteDataBase, OKHOSTING.Code.ORM.UI.Web.Services.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  <PlugIns />
</Configuration>