<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<TableNameFormat>DataTypeName</TableNameFormat>
	<DataBase Type="OKHOSTING.Code.ORM.Sql.MySqlDataBase, OKHOSTING.Code.ORM">
		<ConnectionString>server=localhost;database=okhosting;user id=root;pwd=123456;Persist Security Info=False;</ConnectionString>
	</DataBase>
	<PlugIns>
		<PlugIn Type="OKHOSTING.Code.ORM.Core.Security.DataLog, OKHOSTING.Code.ORM.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Enabled="True" />
		<PlugIn Type="OKHOSTING.Code.ORM.Core.Security.User, OKHOSTING.Code.ORM.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Enabled="True" />
		<PlugIn Type="OKHOSTING.Code.ORM.ERP.Production.PackageProduct, OKHOSTING.Code.ORM.ERP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Enabled="True" />
		<PlugIn Type="OKHOSTING.Code.ORM.ERP.Production.ProductInstance, OKHOSTING.Code.ORM.ERP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Enabled="True" />
		<PlugIn Type="OKHOSTING.Code.ORM.ERP.Local.Mexico.FacturacionElectronica.Factura, OKHOSTING.Code.ORM.ERP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Enabled="True" />
		<PlugIn Type="OKHOSTING.Code.ORM.UI.Web.Security.WebUserSession, OKHOSTING.Code.ORM.UI.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Enabled="True" />
		<PlugIn Type="OKHOSTING.Code.ORM.UI.Web.Security.WebUser, OKHOSTING.Code.ORM.UI.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Enabled="True" />
	</PlugIns>
</Configuration>